<mat-card class="tex-center">
    <div>
        <img class="mb-1 mx-auto h-[200px]"
            src="https://placehold.co/150"
        />
        <div class="w-full">
            <div>
                <h5>Shoes</h5>
                <p class="truncate hover:whitespace-normal">Snickers</p>
                <p>Description</p>
            </div>
            <div class="flex justofy-between">
                <span class="text-red-400">{{'150' | currency}}</span>
                <button>
                    <mat-icon>shoppping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>